@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e4e4e4; /* background */
    --foreground: #1b1b1b; /* text and things */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.movingImage {
  position: absolute;
  top: 0px;
  left: 0px;
}

.shapeHolderContainer {
  border-radius: 12px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  margin:auto;
  padding: 12px;
  cursor: url(/public/shape-images/BananaVector.svg), auto;
}

.shapeHolder{

  cursor: pointer;
  align-content: center;
  display:flex;
  justify-content: center;
  border-radius: 12px;
  /* position: fixed; */
}

.selected {
  background-color: pink;
}

.placedContainer {
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  margin:16px;
  gap: 8px;
  height: max(fit-content, 200px);
  padding: 16px;
}

.placedHolder {
  padding: 12px;
  width: 100%;
  border-radius: 12px;
  background-color: white;

  align-content: center;
  display:flex;
  justify-content: center;
}

.placedImg{
  width: 200px;
  justify-content: center;
}